html, body{
    margin:0;   
    height: 100%;
    width: 100%;
}

body > div{
    height: 90%;
}

p{
    margin: 0%;
}

a{
    text-decoration: none;
    color: inherit;
}



/* top bar */
#topBar{
    width: 100%;
    background-color: #363062;
    position: fixed;
    display: flex;  
    height: 10vh;
    justify-content: space-between;
}
#topBar > div{
    height: 5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    display: flex;
    align-items: center;
}

#nameTitle{
    font-size: 3vw;
    color: aliceblue;
}
#index{
    margin-right:5%;
    display:flex; 
    width: 40%;
    justify-content: space-around;
}
#index  > div{
    margin: 0%;    
    color: aliceblue;
    align-items: center;
}
#index > div > a{
    font-size: 2vw;
}




/* First Div */
#firstDiv{
    height: 100%;
    background-color: #4D4C7D;
    display: flex;
    align-items:center;
}
#firstDiv > div{
    width: 50%;
    padding: 5%;
    text-align:center;
    flex-wrap: wrap;
}
img{
    height: 60%;
    width: 60%;
    border-radius: 10%;
}
.title{
    font-size: 3vw;
}




/* Skills Div */
#skillsDiv{
    background-color: #4D4C7D;
    padding-top: 2%;
}

#mainSkillsDiv{
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 3%;
    margin-top: 3%;
}
 
#mainSkillsDiv > div{
    width: 20%;
    padding: 2%;
    border: 3px solid black ;
    border-radius: 8%;
    margin: 2px;
    background-color: #FF7676;
}

.skillName{
    text-align: center;
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
}

#mainSkillsDiv > div > img{
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
}

.skillDescription{
    text-align: center;
    font-size: 1vw;
}

#skillsDiv > p{
    text-align: center;
    color: #FFCD4B;
    font-size: 2vw;
}

#anotherSkillsDiv{
    margin-top: 1vw;
    display: flex;
    justify-content: center;
}

#anotherSkillsDiv > div{
    border: 2px solid black;
    border-radius: 20%;
    padding: 0.3vw;
    margin: 0.1vw;
    color: #FFCD4B;
    background-color: black;
}




/* Project Div */
#projectsDiv{
    background-color: #4D4C7D;
}







#educationDiv{
    background-color: red;
    
}
#infoDiv{
    background-color: blue;
    
}
#contactDiv{
    background-color: red;
    height: 100%;
} 

@media (max-width: 800px) {

}