html, body{
    margin:0;   
    height: 100%;
    width: 100%;
    background-color: #4D4C7D;
}

body > div{
    height: 90%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}



/* top bar */
#topBar{
    width: 100%;
    background-color: #363062;
    position: fixed;
    display: flex;  
    height: auto;
    justify-content: space-between;
    z-index: 100;
    
}
#topBar > div{
    height: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    display: flex;
    align-items: center;
}

#nameTitle{
    font-size: 200%;
    color: aliceblue;
}
#index{
    margin-right:5%;
    
    display:flex; 
    width: auto;
    justify-content: space-around;
}
#index  > div{
    height: auto;
    margin: 5%;    
    color: aliceblue;
    align-items: center;
}
#index > div > a{
    font-size: 150%;
    
}




/* First Div */
#firstDiv{
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 15%;
    background-color: #4D4C7D;
    height: auto;
    display: flex;
    align-items:center;
    justify-content: space-around;   
}
#firstDiv > div{
    max-width: max-content;
    width: auto;
    height: auto;
    text-align:center;
}

@media (max-width: 480px) {
    #firstDiv{
        flex-wrap: wrap;
    }
    body > div{
        width: 100%;
    }
    
}
img{
    border-radius: 10%;
    width: 50%;
    height: 30%;
    right: 0%;
    
}
.title{
    font-size: 300%;
    text-wrap: nowrap;
}




/* Skills Div */
#skillsDiv{
    background-color: #4D4C7D;
    padding-top: 2%;
    height: auto;
    padding-bottom: 10%;
}

#mainSkillsDiv{
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 3%;
    margin-top: 3%;
}
 
#mainSkillsDiv > div{
    width: 20%;
    padding: 2%;
    border: 3px solid black ;
    border-radius: 8%;
    margin: 2px;
    background-color: #FF7676;
}

.skillName{
    text-align: center;
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
}

#mainSkillsDiv > div > img{
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
}

.skillDescription{
    text-align: center;
    font-size: 1vw;
}

#skillsDiv > p{
    text-align: center;
    color: #FFCD4B;
    font-size: 2vw;
}

#anotherSkillsDiv{
    margin-top: 1vw;
    display: flex;
    justify-content: center;
}

#anotherSkillsDiv > div{
    border: 2px solid black;
    border-radius: 20%;
    padding: 0.3vw;
    margin: 0.1vw;
    color: #FFCD4B;
    background-color: black;
}




/* Project Div */
#projectsDiv{
    background-color: #4D4C7D;
    height: auto;
}
#projectsDiv > p {
    text-align: center;
    color: rgb(255, 205, 75);
    font-size: 2vw;
}

iframe{
    height: auto;
}

#fallsEnd {
    height: 22vw;
    margin-top: 2%;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    border-width: 6px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 1%;
}
#fallsEnd p {
    height: auto;
    font-weight: 600;
    color: rgb(238, 235, 221);
    text-align: center;
    font-size: 1vw;
    margin: 5%;
}
#fallsEndDescription {
    width: 40%;
}

#afterLight {
    height: 22vw;
    margin-top: 2%;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    border-width: 6px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 1%;
}
#afterLightDescription {
    width: 40%;
}




#othersProjectsDiv {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    justify-content: space-between;
}

.smallProjects {
    width: 25%;
    aspect-ratio: 1 / 1;
    background-color: rgb(54, 48, 98);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1.3rem;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 20%;
}

.smallProjects img{
    border-radius: 20%;
}

.othersProjectsDescription{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.othersProjectsDescription > p {
    color: rgb(255, 205, 75);
    text-align: center;
    font-weight: 800;
    margin-top: 35%;
    font-size: 150%;
}
.othersProjectsTags {
    justify-content: space-evenly;
    color: rgb(255, 205, 75);
    display: flex;
    flex-direction: row;
    opacity: 1;
    flex-wrap: wrap;
    margin: auto 10% 20%;
}






#educationDiv{
    background-color: red;
    
}
#infoDiv{
    background-color: blue;
    
}
#contactDiv{
    background-color: red;
    height: 100%;
} 

@media (max-width: 800px) {

}